[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
